.AboutContainer{
    width: 100vw;
    height: 200vh;
}
.aboutLuna{
    width: 100%;
    height:100vh;
    background-position: 50% 20%;
    background-size: cover;
    background-image: url(./lunass.webp);
}
.aboutLuna:hover{
transform: scale(1.2);
}

.aboutDila{
    width: 100%;
    height: 100vh;
    background-position: 50% 20%;
    background-size: cover;
    background-image: url(./dilaalsukhumi.jpg);
}
