   
    .mainHeader{
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(42, 91, 91, 0.444);
    z-index: 100;
}

header{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 15% ;
    height: 80px ;
    display: flex;
    align-items: center;
    color: white;
}

.headerList{
    min-width: 30vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.headerList li{
    position: relative;
    list-style: none;
    padding: 5px;
    overflow: hidden;
    margin: 0 10px;    

}

.headerList li::before{
    content: '';
    width:100%;
    height: 1px;
    position: absolute;
    background-color: white;
    bottom: 0;
    left: -100%;
    transition: .7s ease;
}
.headerList li:hover::before{
    left: 0%;
}

.headerList li a{
    text-decoration: none;
    font-size: 1.4rem;
    cursor: pointer;
    color: white;

}

.user{
    width: 16%;
    height: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

}
.user a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    transition: .5s ease;
}
.user a:hover{
    box-shadow: 0px 8px 13px 0px rgba(42,232,232,0.78);
-webkit-box-shadow: 0px 8px 13px 0px rgba(42,232,232,0.78);
-moz-box-shadow: 0px 8px 13px 0px rgba(42,232,232,0.78);
    background-color: transparent;
}
.burgerMenu{
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
    cursor: pointer;
}
.burgerMenu span{
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background-color: white;

}
.mainBurgboard{
    display: none;
}
   

@media only screen and (max-width:700px){
    .headerList{
        display: none;
    }
    .user{
        display: none;
    }
    .burgerMenu{
        display: inherit;
    }
    .mainBurgboard{
        width: 90%;
        height: 350px;
        position: absolute;
        display: flex;
        justify-content: center;
        background-color: rgba(42, 91, 91, 0.444);
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        transition: .6s ease-in-out;
        z-index: -2;
        display: inherit;
        top: -1100%;
    
    }
    .burgerBoard{
        position: absolute;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: -1;

            }
            .burgerBoard li{
                list-style: none;
                font-size: 1.4rem;
                cursor: pointer;
            }
            .burgerBoard a{
                color: white;
                text-decoration: none;
                cursor: pointer;
            }
  
}