section{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}
.mainSliderContainer{
width: 90vw;
height: 100%;
object-fit: cover;
display: flex;
overflow: hidden;
}

.sliderImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}